[submodule "helloworld/2048"]
	path = example/2048
	url = https://github.com/jackyjkchen/2048
	branch = main
[submodule "helloworld/c-testsuite"]
	path = example/c-testsuite
	url = https://github.com/jackyjkchen/c-testsuite
	branch = master
[submodule "helloworld/tcpip_example"]
	path = example/tcpip_example
	url = https://github.com/jackyjkchen/tcpip_example
	branch = main
