[submodule "example/2048"]
	path = example/2048
	url = ../2048.git
	branch = main
[submodule "example/c-testsuite"]
	path = example/c-testsuite
	url = ../c-testsuite.git
	branch = master
[submodule "example/tcpip_example"]
	path = example/tcpip_example
	url = ../tcpip_example.git
	branch = main
